<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Fixed Point</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/Articles-Badges-images.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/baguetteBox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-Centered-Links-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vanilla-zoom.min.css' %}">
</head>

<body style="color: var(--bs-gray-800);background: var(--bs-gray-800);">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top clean-navbar" style="background: var(--bs-dark);position: relative;">
        <div class="container"><a class="navbar-brand link-light logo" href="..">Corolla<img src="{% static 'assets/img/logo2-removebg-preview.png' %}" width="38" height="41" style="margin-left: 11px;"></a>
            <div style="position: static;display: block;overflow: visible;">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link link-light placeholder" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="background: var(--bs-dark);">Metodos</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="../bisection">Bisection</a><a class="dropdown-item" href="../false-position">False position</a><a class="dropdown-item" href="../fixed-point">Fixed point</a><a class="dropdown-item" href="../newton-raphson">Newton-Raphson</a><a class="dropdown-item" href="../multiple-roots">Multiple roots</a><a class="dropdown-item" href="../secant">Secant</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="../jacobi">Jacobi</a><a class="dropdown-item" href="../gauss-seidel">Gauss Seidel</a><a class="dropdown-item" href="../sor">SOR</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main data-bs-toggle="tooltip" data-bss-tooltip="" class="page landing-page" style="color: var(--bs-blue);background: var(--bs-gray-dark);padding-top: 0px;">
        <div class="container" style="padding-top: 0px;">
            <h1 class="text-center text-white" style="margin-bottom: 30px;margin-top: 16px;">False position</h1>
            <div style="display: block;">
                <div class="row">
                    <div class="col">
                        <form>
                            <div style="padding-top: 0px;margin-top: 10px;margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-md-6 text-start"><strong>Function f:</strong></div>
                                    <div class="col-md-6 text-center"><input class="form-control" type="text" value="log(sin(x)^2 + 1)-(1/2)-x"></div>
                                </div>
                            </div>
                            <div style="padding-top: 0px;margin-top: 10px;margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-md-6 text-start"><strong>Function g:</strong></div>
                                    <div class="col-md-6 text-center"><input class="form-control" type="text" value="log(sin(x)^2 + 1)-(1/2)"></div>
                                </div>
                            </div>
                            <div style="padding-top: 0px;margin-top: 10px;margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-md-6 text-start"><strong>Initial value (x0):</strong></div>
                                    <div class="col-md-6 text-center"><input class="form-control" type="text"></div>
                                </div>
                            </div>
                            <div style="padding-top: 0px;margin-top: 10px;margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-md-6 text-start"><strong>Tolerance:</strong></div>
                                    <div class="col-md-6 text-center"><input class="form-control" type="text" value="1e-7"></div>
                                </div>
                            </div>
                            <div style="padding-top: 0px;margin-top: 10px;margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-md-6 text-start"><strong>Max iterations (Max 100):</strong></div>
                                    <div class="col-md-6 text-center"><input class="form-control" type="text" value="100"></div>
                                </div>
                            </div><button class="btn btn-primary d-block w-100" type="submit">Send</button>
                        </form>
                    </div>
                    <div class="col">
                        <div>
                            <div class="table-responsive text-center">
                                <table class="table table-striped-columns table-dark table-sm">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Iteration</th>
                                            <th>xi</th>
                                            <th>g(xi)</th>
                                            <th>f(xi)</th>
                                            <th>E</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <p style="background: var(--bs-gray-800);">An approximation of the roof was found for x = 0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h1 class="text-center" style="padding-top: 0px;margin-top: 14px;">How to use it?</h1>
                <p>The functions must be continuous and differentiable.<br>Be sure that the function have a root.<br>The initial value is important for the method.<br>Tolerance must have a positive value.<br>The iteration number must be positive.</p>
            </div>
        </div>
    </main>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'assets/js/vanilla-zoom.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>